<div class="buttons-container">
    <div class="button-wrapper">
      <button>
        <div class="status-indicator" [class.online]="serviceStatuses['hoarder']"></div>
        <img src="assets/icons/hoarder.png" alt="Hoarder icon">
        <a href="https://hoarder.lunatria.com" target="_blank" rel="noopener noreferrer">Hoarder</a>
      </button>
      <p>Self-hosted file storage and management.</p>
    </div>
    <div class="button-wrapper">
      <button>
        <div class="status-indicator" [class.online]="serviceStatuses['nextcloud']"></div>
        <img src="assets/icons/nextcloud.png" alt="Nextcloud icon">
        <a href="https://nextcloud.lunatria.com" target="_blank" rel="noopener noreferrer">Nextcloud</a>
      </button>
      <p>Private cloud storage and collaboration.</p>
    </div>
    <div class="button-wrapper">
      <button>
        <div class="status-indicator" [class.online]="serviceStatuses['vaultwarden']"></div>
        <img src="assets/icons/vaultwarden.png" alt="Vaultwarden icon">
        <a href="https://vaultwarden.lunatria.com" target="_blank" rel="noopener noreferrer">Vaultwarden</a>
      </button>
      <p>Secure password manager.</p>
    </div>
    <div class="button-wrapper">
      <button>
        <div class="status-indicator" [class.online]="serviceStatuses['jellyfin']"></div>
        <img src="assets/icons/jellyfin.png" alt="Jellyfin icon">
        <a href="https://jellyfin.lunatria.com" target="_blank" rel="noopener noreferrer">Jellyfin</a>
      </button>
      <p>Media streaming server.</p>
    </div>
    <div class="button-wrapper">
      <button>
        <div class="status-indicator" [class.online]="serviceStatuses['radarr']"></div>
        <img src="assets/icons/radarr.svg" alt="Radarr icon">
        <a href="https://radarr.lunatria.com" target="_blank" rel="noopener noreferrer">Radarr</a>
      </button>
      <p>Movie management and automation.</p>
    </div>
    <div class="button-wrapper">
      <button>
        <div class="status-indicator" [class.online]="serviceStatuses['sonarr']"></div>
        <img src="assets/icons/sonarr.svg" alt="Sonarr icon">
        <a href="https://sonarr.lunatria.com" target="_blank" rel="noopener noreferrer">Sonarr</a>
      </button>
      <p>TV show management and automation.</p>
    </div>
    <div class="button-wrapper">
      <button>
        <div class="status-indicator" [class.online]="serviceStatuses['komga']"></div>
        <img src="assets/icons/komga.png" alt="Komga icon">
        <a href="https://komga.lunatria.com" target="_blank" rel="noopener noreferrer">Komga</a>
      </button>
      <p>Personal book library</p>
    </div>
  </div>
  